<main>
  <div>
    <%= link_to "新規登録", new_admin_item_path %>  
  </div>
  <table class = "table">
    <thead>
      <tr>商品ID</tr>
      <tr>商品名</tr>
      <tr>商品価格</tr>
    </thead>
    <% @item.each do |item| %>
      <tbody>
        <tr>
          <th><%= item.id %></th>
          <th><%= item.name %></th>
          <th><%= item.price %></th>
        </tr>
      </tbody>
    <% end %>
  </table>
  <%= paginate @item %>
</main>